<div class="top-contents">
	<div class="top1"></div>
	<div class="top2"></div>
	<div class="top3"></div>
	<div class="top4"></div>
	<div class="top5"></div>
	<div class="top7"></div>
</div>

<% if flash[:notice] %>
 	<div class="flash"><%= flash[:notice]%></div>
<% end %>

<section style="margin: 80px 0px">
<%= if user_signed_in? %>
<h1>Enjoy to Re:Deli ! ! !</h1>
<% else %>
<h1>Welcome to Re:Deli ! ! !</h1>
<% end %>
<h2>WebSite Introduction...</h2>
<div class="row" style="margin-top: 40px">
	<div class="col-lg-10 offset-lg-1">
	<span>
		<i class="fas fa-coffee fa-5x"></i>
		<i class="fas fa-long-arrow-alt-right fa-3x">　</i>
		<i class="fas fa-hamburger fa-5x"></i>
		<i class="fas fa-long-arrow-alt-right fa-3x">　</i>
		<i class="fas fa-ice-cream fa-5x"></i>
		<i class="fas fa-long-arrow-alt-right fa-3x">　</i>
		<i class="fas fa-beer fa-5x"></i>
		<i class="fas fa-long-arrow-alt-right fa-3x">　</i>
		<i class="far fa-laugh-squint fa-5x"></i>
	</span>
	</div>
</div>
</section>

