// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.devise-form{
	background-color: white;
	border: 2px solid silver;
	padding-bottom: 20px;
	text-align: center;
}

.form-title{
	background-color: silver;
	margin-bottom: 20px;
}

.form-title h2{
	font-size: 1.25em;
	padding: 10px;
}

.field{
	padding-bottom: 10px;
	margin: 0px 30px;
}

.top-contents{
	height: 350px;
}

/* skippr画像*/
.top1{
	background-image: url(top1.jpg);
	background-position: center;
}

.top2{
	background-image: url(top2.jpg);
}
.top3{
	background-image: url(top3.jpg);
	background-position: 0px -80px;
}
.top4{
	background-image: url(top4.jpg);
	background-position: center;
}
.top5{
	background-image: url(top5.jpg);
	background-position: center;
}
.top7{
	background-image: url(top7.jpg);
	background-position: center;
}

/* showページ*/
.profile-main {
    display: flex;
    background-color: white;
    flex-direction: row;
	padding: 10px 20%;
    align-items: center;
    margin-top: 10px;
}

.profile-main > .profile-image{
	width: 40%;
	text-align: center;
}

.profile-main > .profile-text{
	width: 60%;
	padding: 10px;
    align-items: center;
}